*{
    box-sizing: border-box;
    
    
    
}

body{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}


header{
    float: right;
}

html {
    font-family: Roboto, sans-serif;
}

.completed{
    text-decoration: line-through;

}

